body{
    margin: 0;
    padding: 0;
    background-color: #e1e5f2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.section-1{
    margin-left: 4vw;
    position: sticky;
    top: 0;
}

.contenido-texto{
    margin-top: 8vh;
    font-size: 2vw;
}

.fila a{
    margin-top: 6vh;
    line-height: 10vh;
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}
.texto-2 a{
    margin-top: 6vh;
    line-height: 18vh;
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}
.carrito {
    width: 2vw;
    margin-left: 1vw;
}
footer{
    line-height: 20vh;
    font-size: 1.3vw;
}

.section-2{
    display: flex;
    justify-content: center;
    margin-top: -87vh;
    margin-left: 10vw;
}
.cuadro{
    background-color: #D5F2DA;
    border: 1px solid black;
    border-radius: 20px;
    width: 75vw;
    height: 85vh;
}
.cuadro h2{
    margin: 0;
    font-size: 2.3vw;
    margin-left: 2vw;
}
.cuadro p{
    margin-left: 2vw;
    font-size: 1.3vw;
}