body{
    margin: 0;
    padding: 0;
    background-color: #E4E6F2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.section-1{
    margin-left: 4vw;
}

.contenido-texto{
    margin-top: 8vh;
    font-size: 2vw;
}

.fila a{
    margin-top: 6vh;
    line-height: 10vh;
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}
.texto-2 a{
    margin-top: 6vh;
    line-height: 18vh;
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}
.carrito {
    width: 2vw;
    margin-left: 1vw;
}
footer{
    line-height: 20vh;
    font-size: 1.3vw;
}

.section-2{
    display: flex;
    justify-content: center;
    margin-top: -90vh;
    margin-left: -45vw;
}
.cuadro{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    width: 75vw;
    height: 85vh;
}
.cuadro p{
    margin: 0;
    font-size: 2vw;
    margin-left: 2vw;
}
.abrigos {
    border: 0.2vw solid black;
    width: 16vw;
    height: 34.3vh;
    margin-left: -74vw;
    margin-top: 6vh;
}
.saco-1{
    width: 16vw;
    height: 26vh;
}
.abrigos .precio{
    border: 2px solid black;
    background-color: #D5F2DA;
    height: 8vh;
    margin-top: -0.28vh;
    border-radius: 15px;
}
.precio p{
    margin-top: -6vh;
    margin-left: 1vw;
    font-size: 1vw;
}
.precio button{
    background-color: #09734C;
    font-size: 1vw;
    margin-left: 10vw;
    margin-top: 4vh;
}
.abrigos-2 {
    border: 0.2vw solid black;
    width: 16vw;
    height: 34.3vh;
    margin-left: 2vw;
    margin-top: 6vh;
}
.saco-2{
    width: 16vw;
    height: 26vh;
}
.abrigos-2 .precio-2{
    border: 2px solid black;
    background-color: #D5F2DA;
    height: 8vh;
    margin-top: -0.28vh;
    border-radius: 15px;
}
.precio-2 p{
    margin-top: -6vh;
    margin-left: 1vw;
    font-size: 1vw;
}
.precio-2 button{
    background-color: #09734C;
    font-size: 1vw;
    margin-left: 10vw;
    margin-top: 4vh;
}

.abrigos-3 {
    border: 0.2vw solid black;
    width: 16vw;
    height: 34.3vh;
    margin-left: 2vw;
    margin-top: 6vh;
}
.saco-3{
    width: 16vw;
    height: 26vh;
}
.abrigos-3 .precio-3{
    border: 2px solid black;
    background-color: #D5F2DA;
    height: 8vh;
    margin-top: -0.28vh;
    border-radius: 15px;
}
.precio-3 p{
    margin-top: -6vh;
    margin-left: 1vw;
    font-size: 1vw;
}
.precio-3 button{
    background-color: #09734C;
    font-size: 1vw;
    margin-left: 10vw;
    margin-top: 4vh;
}

.abrigos-4 {
    border: 0.2vw solid black;
    width: 16vw;
    height: 34.3vh;
    margin-left: 2vw;
    margin-top: 6vh;
}
.saco-4{
    width: 16vw;
    height: 26vh;
}
.abrigos-4 .precio-4{
    border: 2px solid black;
    background-color: #D5F2DA;
    height: 8vh;
    margin-top: -0.28vh;
    border-radius: 15px;
}
.precio-4 p{
    margin-top: -6vh;
    margin-left: 1vw;
    font-size: 1vw;
}
.precio-4 button{
    background-color: #09734C;
    font-size: 1vw;
    margin-left: 10vw;
    margin-top: 4vh;
}
.abrigos-5 {
    border: 0.2vw solid black;
    width: 16vw;
    height: 34.3vh;
    margin-left: -71vw;
    margin-top: 45vh;
}
.saco-5{
    width: 16vw;
    height: 26vh;
}
.abrigos-5 .precio-5{
    border: 2px solid black;
    background-color: #D5F2DA;
    height: 8vh;
    margin-top: -0.28vh;
    border-radius: 15px;
}
.precio-5 p{
    margin-top: -6vh;
    margin-left: 1vw;
    font-size: 1vw;
}
.precio-5 button{
    background-color: #09734C;
    font-size: 1vw;
    margin-left: 10vw;
    margin-top: 4vh;
}